$fonts: "Lato", sans-serif;
$darkcolor: #222224;
$light-pinc: #f1e4e6;
$pinc: #f16d7f;
$light-grey: #f8f8f8;
$light-grey-text: #fbfbfb;
$grey: #e1e1e1;
$withe: #ffffff;
$black: #000000;
$darkgrey: #6f6e6e;

body {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  text-decoration: none;
}

.conteiner {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: $darkcolor;

  .header__wrapper {
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__logo {
      margin: 0 41px 0 0;
    }

    .header__button {
      background-color: transparent;
      border: none;
      margin: 0 33px 0 0;

      &:hover + .header__navigation,
      &:focus + .header__navigation {
        display: block;
      }
    }

    .header__navigation {
      display: none;
      background-color: $withe;
      position: absolute;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
      right: 0;
      top: 75px;
      width: 232px;
      height: 764px;

      &:hover {
        display: block;
      }

      h2 {
        color: $black;
        text-transform: uppercase;
        margin: 37px auto 24px 34px;
      }
    }

    .header__navigation_items-title {
      color: $pinc;
      list-style-type: none;
      text-transform: uppercase;

      a {
        text-decoration: none;
        color: $pinc;
      }

      .header__navigation_list-title {
        margin: 0 auto 20px 33px;

        .header__navigation_list {
          color: $darkgrey;
          text-transform: capitalize;
          margin: 12px auto 11px 22px;

          a {
            color: $darkgrey;
          }
        }
      }
    }

    .header__userpic {
      margin: 0 33px 0 0;
    }

    .header__basketMini {
      background-color: transparent;
      border: none;
      margin: 0 33px 0 0;

      &:hover + .header__basket,
      &:focus + .header__basket {
        display: block;
      }
    }
    .header__basket {
      display: none;
      min-width: 450px;
      min-height: 250px;
      background-color: white;
      position: absolute;
      top: 75px;
      right: 0px;
      border-radius: 0 0 0 30px;

      h5 {
        text-align: center;
        padding: 103px;
        font-size: xx-large;
      }
    }
  }
}

.brand {
  display: flex;
  margin-bottom: 65px;

  .brand__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: $light-pinc;

    .brand__title {
      font-size: 48px;
      font-weight: 900;
      line-height: 58px;
      text-transform: uppercase;
      padding: 0 0 0 91px;
      position: relative;

      &:before {
        content: "";
        width: 12px;
        height: 92px;
        background-color: $pinc;
        position: absolute;
        top: 8px;
        right: 446px;
      }

      .brand__subtitle {
        display: block;
        font-weight: 700;
        font-size: 37px;
        line-height: 44px;
      }

      .brand__title-color {
        color: $pinc;
      }
    }
  }
}

.stocks__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 66px;

  .stocks__item {
    width: 360px;
    min-height: 260px;
    background-color: $darkcolor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #ffffff;
    text-transform: uppercase;
  }

  .stocks__title-color {
    color: $pinc;
  }

  .stocks__item--women {
    background-image: url(../img/stocks/back-for-wooman.jpg);
  }

  .stocks__item--men {
    background-image: url(../img/stocks/back-for-man.jpg);
  }

  .stocks__item--kids {
    background-image: url(../img/stocks/back-for-kids.jpg);
  }

  .stocks__item--accesories {
    background-image: url(../img/stocks/back-accesories.jpg);
    min-height: 180px;
    flex-grow: 1;
  }
}

.produckts {
  text-align: center;

  .produckts__title {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
  }

  .produckts__title_mini {
    color: #9f9f9f;
    margin: 0 auto 48px;
  }

  .produckts__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 62px;

    .produckts__items {
      width: 360px;
      text-align: left;
      background-color: $light-grey;

      .produckts__items_info {
        margin: 25px 16px 20px;

        .produckts__items_title {
          font-size: 13px;
          line-height: 16px;
          color: #000000;
          text-transform: uppercase;
        }

        .produckts__items_text {
          color: #5d5d5d;
          margin: 12px auto 18px;
        }

        .produckts__items_price {
          font-size: 16px;
          line-height: 19px;
          color: #f16d7f;
        }
      }

      button {
        display: block;
        font-size: 16px;
        line-height: 19px;
        color: #f26376;
        text-decoration: none;
        border: 1px solid #ff6a6a;
        padding: 5px 38px;
        margin: -44px 0px 9px 155px;
        text-transform: uppercase;
      }
    }
  }

  a {
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    text-decoration: none;
    border: 1px solid #ff6a6a;
    padding: 14px 38px;
    margin: 48px auto 95px;
  }
}

.advantages {
  margin: 109px auto 0;
  background-color: $darkcolor;

  .advantages__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 341px;

    .advantages__title {
      font-size: 20px;
      line-height: 24px;
      color: $light-grey-text;
      margin: 23px auto 16px;
    }

    .advantages__text {
      color: $light-grey-text;
    }
  }
}

.subscribe {
  background-image: url(../img/subscribe/subscride-back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .subscribe__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 448px;
    text-align: center;
  }

  .subscribe__comment {
    width: 360px;

    &_text {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: $darkcolor;
      margin: 30px auto 0;
    }
  }

  .subscribe__form {
    width: 557px;

    .subscribe__form_title {
      font-size: 19px;
      line-height: 40px;
      color: $darkcolor;
      text-transform: uppercase;
      margin: 0 auto 32px;

      span {
        font-size: 24px;
        display: block;
      }
    }

    input {
      color: $darkcolor;
      opacity: 0.67;
      background-color: $grey;
      padding: 7px 22px;
      border-radius: 10px 0 0 10px;
      outline: none;
      text-transform: inherit;
      border: 0;
    }

    button {
      text-transform: inherit;
      color: $withe;
      padding: 7px 8px;
      background-color: $pinc;
      border-radius: 0 10px 10px 0;
      margin: 0px 0 0 -3px;
      border: 0;
    }
  }
}

.footer {
  background-color: $darkcolor;

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 79px;

    .footer__copy {
      font-size: 16px;
      line-height: 19px;
      color: $light-grey-text;
    }

    .footer__list {
      display: flex;

      .footer__items {
        width: 32px;
        background-color: $withe;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 8px;

        &:hover,
        &:focus {
          background-color: $pinc;
        }
      }
    }
  }
}

.title {
  background-color: $light-pinc;

  .title__wrapper {
    display: flex;
    align-items: center;
    min-height: 148px;

    h2 {
      text-transform: uppercase;
      color: $pinc;
    }
  }
}

.registration {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 55px;

  .registration__form {
    fieldset {
      display: flex;
      flex-direction: column;
      margin: 15px 0;

      legend {
        font-size: 16px;
        line-height: 19px;
        color: $darkcolor;
      }

      input {
        height: 45px;
        width: 360px;
        margin: 10px 0;
        border: 1px solid rgba(164, 164, 164, 1);
      }

      div {
        input {
          width: 17px;
          height: 17px;
          text-align: right;
          margin: 10px;
        }
      }
    }

    p {
      width: 359px;
      height: 32px;
      font-size: 13px;
      line-height: 16px;
      color: #b1b1b1;
    }

    button {
      padding: 16px 66px 16px 30px;
      background: #f16d7f;
      color: #ffffff;
      position: relative;
      margin: 40px 0;

      &::after {
        content: "\2192";
        width: 17px;
        height: 10px;
        position: absolute;
        top: 16px;
        right: 45px;
      }
    }
  }

  div {
    h2 {
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      color: #000000;
      margin-top: 15px;
    }

    ul {
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;

      h3 {
        font-weight: 300;
        width: 650px;
        margin: 22px auto;
      }

      li {
        padding-left: 25px;
        position: relative;
        margin-bottom: 16px;

        &::before {
          content: "\2714";
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}
